@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
    background-color: black;
    background-image: url('./assets/images/Gym.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
}

/* === grid setup === */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr max-content;
    gap: 0.8vw;
    min-height: 100vh;
    overflow: hidden;
}

.title {
    grid-column: 1 / -2;
    font-family: "Barrio", sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    padding: 0.5rem;
    max-width: 100%;
    color: #fff;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === left panel - stats === */
.stats-panel {
    grid-row: 2;
    font-family: "Barrio", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    align-self: center;
    line-height: 1.3;
    letter-spacing: 0.1rem;
}

.punch-count {
    font-size: 2rem;
}

#counts {
    font-size: 2.5rem;
}

#cps-display {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* === center panel - for the punching bag === */
.punch-area {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.click-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.punching-bag {
    width: 90%;
    height: auto;
    object-fit: contain;
}

/* === right panel - upgrades === */
#shop-container {
    grid-column: 4 / -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    font-family: "Barrio", sans-serif;
    width: 50%;
    margin: auto;
    max-height: 60%;
    height: auto;
    overflow-y: auto;
}

.upgrade-container {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.upgrade-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 3rem;
}

.image-upgrade-button {
    width: 4rem;
    height: 4rem;
}

.upgrade-description {
    line-height: 1.4;
    letter-spacing: 0.1rem;
    flex-grow: 1;
}

.upgrade-description h3 {
    font-size: 1.3rem;
}

.upgrade-description p {
    font-size: 0.9rem;
}

/* footer */
.footer-container {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
    bottom: 0;
}

.footer-container p {
    color: #fff;
    z-index: 10;
}